<div class="row">
    <div class="col-xs-8">
        <h1 style="margin-top:0">{{ recipe.name }}</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Shopping list</a></li>
                <li><a href="#">Edit recipe</a></li>
                <li><a href="#">Delete recipe</a></li>
            </ul>
        </div>
        <img style="margin-top:1em" [src]="recipe.imagePath" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <div class="well">{{ recipe.description }}</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Ingredients</h2>
        -
    </div>
</div>